<!--Section: Contact v.2-->
<section id="contact">

    <!--Section heading-->
    <h2 class="text-center h1 py-5 greenColor">contact us</h2>
    <!--Section description-->
    <p class="text-center mb-5">You probably have a lot of questions; all of which we are more than happy to answer.</p>

    <div class="row">

        <!--Grid column-->
        <div class="col-md-12">
            <form action="https://formspree.io/info@pnw.technology" method="POST">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form">
                            <input name="name" placeholder="your name" type="text" id="contact-name" class="form-control">
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form">
                            <input placeholder="your email" type="text" id="contact-email" class="form-control" name="_replyto">
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                            <input name="subject" type="text" id="contact-Subject" class="form-control" placeholder="subject">
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row--> 
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <textarea name="message" placeholder="your message" type="text" id="contact-message" class="form-control md-textarea" rows="3"></textarea>
                        </div>

                    </div>
                </div>
                <!--Grid row-->

                <div class="text-center text-md-left">
                <!-- <a class="btn btn-primary btn-md" type="submit" value="Send">Send</a> -->
                <input class="btn btn-primary btn-md" type="submit" value="Submit">
            </div>

            </form>

        </div>
        <!--Grid column-->

    </div>

</section>
<!--Section: Contact v.2-->