<!--Projects section v.1-->
<section>

    <!--Grid row-->
    <div class="row text-center pt-5">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

            <!--Featured image-->
            <div class="view overlay rounded z-depth-1 waves-light" mdbWavesEffect>
                <img src="./assets/design.svg" class="img-fluid" alt="Sample project image">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Excerpt-->
            <div class="card-body mt-3">
                <h4>
                    <strong>BRANDING & IDENTITY</strong>
                </h4>
                <p class="grey-text ovo">your branding is a direct reflection of your company and how the world sees you. no matter how new or old your company is, our branding processes and implementation will ensure a lasting experience.
                </p>
            </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

            <!--Featured image-->
            <div class="view overlay rounded z-depth-1  waves-light" mdbWavesEffect>
                <img src="./assets/website.svg" class="img-fluid" alt="Sample project image">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Excerpt-->
            <div class="card-body mt-3">
                <h4>
                    <strong>WEB & MOBILE</strong>
                </h4>
                <p class="grey-text ovo">with our technical and business specialties, we craft gorgeous, scalable, and efficient websites that make a lasting impression. 
                </p>
            </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

            <!--Featured image-->
            <div class="view overlay rounded z-depth-1  waves-light" mdbWavesEffect>
                <img src="./assets/strategy.svg" class="img-fluid" alt="Sample project image">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Excerpt-->
            <div class="card-body mt-3">
                <h4>
                    <strong>GROWTH</strong>
                </h4>
                <p class="grey-text ovo">our operational support team accelerates the growth of ventures we partner with. we specialize in strategy and process management to maximize product-market fit for our partners.
                </p>
            </div>

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<!--/Projects section v.1-->