<hr>

<!--Section: Features v.1-->
<section class="text-center my-5 py-5" id="process"> 


    <!--Section description-->
    <p class="px-5 mb-5 pb-3 lead grey-text">We partner with small to medium-sized businesses to create and build companies to scale them to their maximum potential.
    Being a part of the AWS Partner Network, we can leverage the most innovative but cost-effective technologies to help you build your vision.</p>

</section>
<!--Section: Features v.1-->

<hr>



<!--Projects section v.1-->
<section>

    <!--Grid row-->
    <div class="row text-center pt-5">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

            <!--Featured image-->
            <div class="view overlay rounded z-depth-1 waves-light" mdbWavesEffect>
                <img src="./assets/design.svg" class="img-fluid" alt="Sample project image">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Excerpt-->
            <div class="card-body mt-3">
                <h4>
                    <strong>Serverless Design & Build</strong>
                </h4>
                <p class="grey-text ovo">pnw tech has a deep understanding of both the benefits of adopting serverless and the challenges associated with creating the culture necessary to move forward with confidence. 
                </p>
            </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

            <!--Featured image-->
            <div class="view overlay rounded z-depth-1  waves-light" mdbWavesEffect>
                <img src="./assets/website.svg" class="img-fluid" alt="Sample project image">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Excerpt-->
            <div class="card-body mt-3">
                <h4>
                    <strong>Web & Mobile Apps</strong>
                </h4>
                <p class="grey-text ovo">Serverless infrastructures dramatically reduce the complexity associated with building and scaling web and mobile applications by accounting for spikes in demand automatically.
                </p>
            </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

            <!--Featured image-->
            <div class="view overlay rounded z-depth-1  waves-light" mdbWavesEffect>
                <img src="./assets/strategy.svg" class="img-fluid" alt="Sample project image">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Excerpt-->
            <div class="card-body mt-3">
                <h4>
                    <strong>Event-driven architecture.</strong>
                </h4>
                <p class="grey-text ovo">With no servers to manage or patch and a true pay-per-use pricing model, serverless enables you to move faster and build more complex scripts and jobs without introducing too much management overhead.
                </p>
            </div>

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<!--/Projects section v.1-->