<hr>

<!--Section: Features v.1-->
<section class="text-center my-5 py-5" id="process"> 


    <!--Section description-->
    <p class="px-5 mb-5 pb-3 lead grey-text">our thorough processes enable us to be efficient and agile for projects of all sizes. whether it's mobile, backend API development, or a simple branded website, it is our goal to make your business better. we take pride in bespoke experiences with extreme attention to detail and return.</p>

</section>
<!--Section: Features v.1-->

<hr>


<!--Section: Features v.1-->
<section class="text-center my-5">

    <!--Section heading-->
    <h2 class="h1 py-5 font-weight-bold greenColor">our process</h2>
    <!--Section description-->
    <p class="px-5 mb-5 pb-3 lead grey-text">our refined and detailed processes are what separates us from everyone else. see what that looks like in practice.</p>

    <!--Grid row-->
    <div class="row">

        <!-- Grid column-->
        <div class="col-md-4">
            <!-- Card -->
            <div class="card card-image z-depth-1 mb-3 hoverable" style="background-image: url(./assets/discover.png); background-size: contain;">

                <!-- Content -->
                <div class="mask text-black text-center d-flex align-items-center rgba-white-heavy py-5 px-4">
                    <div>
                        <h3 class="card-title pt-2">discover</h3>
                        <p class="ovo">decisions are made best with more data. our first step is listening to your company's story; past, present, and future</p>
                    </div>
                </div>
                <!-- Content -->
            </div>
            <!-- Card -->
        </div>
        <!-- Grid column-->

        <!-- Grid column-->
        <div class="col-md-4">
            <!-- Card -->
            <div class="card card-image z-depth-1 mb-3 hoverable" style="background-image: url(./assets/plan.png); background-size: contain;">

                <!-- Content -->
                <div class="mask text-black text-center d-flex align-items-center rgba-white-heavy py-5 px-4">
                    <div>
                        <h3 class="card-title pt-2">plan</h3>
                        <p class="ovo">from the beginning we intersect tech, business, marketing, design, and every other aspect of your business</p>
                    </div>
                </div>
                <!-- Content -->
            </div>
            <!-- Card -->
        </div>
        <!-- Grid column-->

        <!-- Grid column-->
        <div class="col-md-4">
            <!-- Card -->
            <div class="card card-image z-depth-1 mb-3 hoverable" style="background-image: url(./assets/build.png); background-size: contain;">

                <!-- Content -->
                <div class="mask text-black text-center d-flex align-items-center rgba-white-heavy py-5 px-4">
                    <div>
                        <h3 class="card-title pt-2">build</h3>
                        <p class="ovo">we get to work building as soon as possible so that we can quickly get feedback to then iterate on</p>
                    </div>
                </div>
                <!-- Content -->
            </div>
            <!-- Card -->
        </div>
        <!-- Grid column-->

    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row">

        <!-- Grid column-->
        <div class="col-md-4">
            <!-- Card -->
            <div class="card card-image z-depth-1 mb-3 hoverable" style="background-image: url(./assets/release.png); background-size: contain;">

                <!-- Content -->
                <div class="mask text-black text-center d-flex align-items-center rgba-white-heavy py-5 px-4">
                    <div>
                        <h3 class="card-title pt-2">release</h3>
                        <p class="ovo">we release the first iteration when the time is right</p>
                    </div>
                </div>
                <!-- Content -->
            </div>
            <!-- Card -->
        </div>
        <!-- Grid column-->

        <!-- Grid column-->
        <div class="col-md-4">
            <!-- Card -->
            <div class="card card-image z-depth-1 mb-3 hoverable" style="background-image: url(./assets/collect.png); background-size: contain;">

                <!-- Content -->
                <div class="mask text-black text-center d-flex align-items-center rgba-white-heavy py-5 px-4">
                    <div>
                        <h3 class="card-title pt-2">collect</h3>
                        <p class="ovo">after the first iteration, we put analytics to work to refine our strategy</p>
                    </div>
                </div>
                <!-- Content -->
            </div>
            <!-- Card -->
        </div>
        <!-- Grid column-->

        <!-- Grid column-->
        <div class="col-md-4">
            <!-- Card -->
            <div class="card card-image z-depth-1 mb-3 hoverable" style="background-image: url(./assets/iterate.png); background-size: contain;">

                <!-- Content -->
                <div class="mask text-black text-center d-flex align-items-center rgba-white-heavy py-5 px-4">
                    <div>
                        <h3 class="card-title pt-2">iterate</h3>
                        <p class="ovo">perfection isn't a goal but a cycle that we put into practice</p>
                    </div>
                </div>
                <!-- Content -->
            </div>
            <!-- Card -->
        </div>
        <!-- Grid column-->

    </div>
    <!--Grid row-->

</section>
<!--Section: Features v.1-->