@import url('https://fonts.googleapis.com/css?family=Muli:300,300i%7CSacramento%7COvo');

body, html {
    font-family: 'Muli', sans-serif !important;
}

html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

.ovo {
    font-family: 'Ovo', serif !important;
}

.sacramento {
    font-family: 'Sacramento', sans-serif !important;
}

.muli {
    font-family: 'Muli', sans-serif !important;
}

#contact {
	scroll-behavior: smooth;
}


/* Coolors Exported Palette - coolors.co/df2935-86ba90-f5f3bb-dfa06e-515460 */

/* HSL */
$redColor: hsla(356%, 74%, 52%, 1);
$greenColor: hsla(132%, 27%, 63%, 1);
$yellowColor: hsla(58%, 74%, 85%, 1);
$orangeColor: hsla(27%, 64%, 65%, 1);
$greyColor: hsla(228%, 8%, 35%, 1);

/* RGB */
$redColor: rgba(223, 41, 53, 1);
$greenColor: rgba(134, 186, 144, 1);
$yellowColor: rgba(245, 243, 187, 1);
$orangeColor: rgba(223, 160, 110, 1);
$greyColor: rgba(81, 84, 96, 1);


.redColor {
    color: $redColor
}
.greenColor {
    color: $greenColor
}
.yellowColor {
    color: $yellowColor
}
.orangeColor {
    color: $orangeColor
}
.greyColor {
    color: $greyColor
}

.transparent {
    background-color: transparent !important;
}

$prefix: spacing;

$font-list: (
  $prefix    1      1px,
  $prefix    2      2px,
  $prefix    3      3px,
  $prefix    4      4px,
  $prefix    5      5px,
  $prefix    6      6px,
  $prefix    7      7px,
  $prefix    8      8px,
  $prefix    9      9px,
  $prefix    10     10px,
  $prefix    11     11px,
  $prefix    12     12px,
  $prefix    13     13px,
  $prefix    14     14px,
  $prefix    15     15px,
  $prefix    16     16px,
  $prefix    17     17px,
  $prefix    18     18px,
  $prefix    19     19px,
  $prefix    20     20px,

);


@each $value in $font-list {

  .#{nth($value, 1)}-#{nth($value, 2)} {
      
      letter-spacing: nth($value, 3);
      
    }

}

.modal::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;  
  opacity: .9; 
  z-index: -1;
  background-color: $greyColor;
}

/*Sentence*/
.sentence{
    color: #222;
    font-size: 2em;
    text-align: center;
}
/*Wrapper*/
.wrapper{
   background-color: #f5f5f5;
   font-family: 'Raleway', sans-serif;
   margin: 100px auto;
   padding: 40px 40px;
   display: block;
    width: 100%;
}

/*Vertical Sliding*/
.slidingVertical{
   display: inline;
   text-indent: 8px;
}
.slidingVertical span{
   animation: topToBottom 20s linear infinite 0s;
   -ms-animation: topToBottom 20s linear infinite 0s;
   -webkit-animation: topToBottom 20s linear infinite 0s;
   color: #00abe9;
   opacity: 0;
   overflow: hidden;
   position: absolute;
}
.slidingVertical span:nth-child(2){
   animation-delay: 4s;
   -ms-animation-delay: 4s;
   -webkit-animation-delay: 4s;
}
.slidingVertical span:nth-child(3){
   animation-delay: 8s;
   -ms-animation-delay: 8s;
   -webkit-animation-delay: 8s;
}
.slidingVertical span:nth-child(4){
   animation-delay: 12s;
   -ms-animation-delay: 12s;
   -webkit-animation-delay: 12s;
}
.slidingVertical span:nth-child(5){
   animation-delay: 16s;
   -ms-animation-delay: 16s;
   -webkit-animation-delay: 16s;
}

/*topToBottom Animation*/
@-moz-keyframes topToBottom{
   0% { opacity: 0; }
   5% { opacity: 0; -moz-transform: translateY(-50px); }
   10% { opacity: 1; -moz-transform: translateY(0px); }
   25% { opacity: 1; -moz-transform: translateY(0px); }
   30% { opacity: 0; -moz-transform: translateY(50px); }
   80% { opacity: 0; }
   100% { opacity: 0; }
}
@-webkit-keyframes topToBottom{
   0% { opacity: 0; }
   5% { opacity: 0; -webkit-transform: translateY(-50px); }
   10% { opacity: 1; -webkit-transform: translateY(0px); }
   25% { opacity: 1; -webkit-transform: translateY(0px); }
   30% { opacity: 0; -webkit-transform: translateY(50px); }
   80% { opacity: 0; }
   100% { opacity: 0; }
}
@-ms-keyframes topToBottom{
   0% { opacity: 0; }
   5% { opacity: 0; -ms-transform: translateY(-50px); }
   10% { opacity: 1; -ms-transform: translateY(0px); }
   25% { opacity: 1; -ms-transform: translateY(0px); }
   30% { opacity: 0; -ms-transform: translateY(50px); }
   80% { opacity: 0; }
   100% { opacity: 0; }
}

.rgba-white-heavy {
    background-color: rgba(255, 255, 255, 0.9);
}